
<div class="jumbotron">
    <h1 class="display-4">Ingreso de Libros</h1>
     <hr class="my-4">
    
 
    <form  (ngSubmit) = 'agregarLibro()'>
        <div class="form-row"></div>
            
            <div class="form-group col-md-6"> 
                <label for="nombre">Nombre: </label>
                <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]='nombre'>
            </div>
            <!-- <div class="form-group col-md-6"> 
                <label for="descripcion">Descripcion: </label>
                <input type="text" class="form-control" name="descripcion" id="descripcion" [(ngModel)]='descripcion'>
            </div> -->
            <div class="form-group col-md-6"> 
                <label for="autor">Autor: </label>
                <input type="text" class="form-control" name="autor" id="autor" [(ngModel)]='autor'>
            </div>
            <!-- <div class="form-group col-md-6"> 
                <label for="icbn">ICBN: </label>
                <input type="text" class="form-control" name="icbn" id="icbn" [(ngModel)]='icbn'>
            </div> -->
            <div class="form-group col-md-6"> 
                <label for="gender">Gender </label>
                 <select name="gender" id="gender" [(ngModel)]="genero" class="form-control"> 
                  <option *ngFor="let _gender of generoLibro" value="_gender.id">{{_gender.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-6"> 
                <button class="btn btn-primary" type="submit"> Agregar</button>
            </div>

    </form>
</div>
